doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/margins_paddings.css')
    link(rel='stylesheet', href='/stylesheets/squares.css')
    link(rel='stylesheet', href='/stylesheets/colors.css')
  body
    .sidebar
      .content
        .logo
          a(href='/' class='white_text') ← Punnett Square Tools

        .info
          block content
    
    .table
      block square

    .formblock
      block formblock
