.pink {
    background-color: pink;
}

.red {
    background: red;
}

.orange {
    background-color: orange;
}

.yellow {
     background-color: yellow;
}

.lime {
    background-color: lime;
}

.green {
    background-color: green;
}

.aqua {
    background-color: aqua;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}
